PORT=3000
NODE_ENV=development
CLIENT_URL=*
DNS_SERVERS=8.8.8.8,1.1.1.1

MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/kventro

JWT_SECRET=replace_with_a_long_random_access_token_secret
JWT_EXPIRE=15m
JWT_REFRESH_SECRET=replace_with_a_different_long_random_refresh_token_secret
JWT_REFRESH_EXPIRE=30d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_KEY_ID=rzp_test_T1nzXy70tVmZQy
RAZORPAY_KEY_SECRET=GXQod7LiT0XdvSwAuYaV7dj0
